<div class="xandra-roll-offs-chat xro-round-summary">
  <h4>{{localize 'XANDRA_ROLL_OFFS.Labels.RoundSummary' round=round}}</h4>
  <ul class="xro-roll-list">
    {{#each rolls}}
    <li>
      <span class="xro-user">{{name}}</span>
      <span class="xro-value">{{value}}</span>
    </li>
    {{/each}}
  </ul>
  {{#if winner}}
  <p class="xro-winner">{{localize 'XANDRA_ROLL_OFFS.Chat.RoundWinner' name=winnerName}}</p>
  {{else}}
  <p class="xro-tie">{{localize 'XANDRA_ROLL_OFFS.Chat.RoundTie' names=tiedNames}}</p>
  {{/if}}
</div>
