<div class="xandra-roll-offs-player-prompt">
  <div class="xro-prompt-body">
    <p><strong>{{roundLabel}}</strong></p>
    <p>{{localize 'XANDRA_ROLL_OFFS.Labels.DieType'}}: {{dieType}}</p>
    {{#if canRoll}}
    <button type="button" data-action="submitRoll">{{localize 'XANDRA_ROLL_OFFS.Actions.Roll'}}</button>
    <p class="xro-hint">{{localize 'XANDRA_ROLL_OFFS.PlayerPrompt.Hint'}}</p>
    {{else}}
    <p class="waiting">{{localize 'XANDRA_ROLL_OFFS.Labels.Waiting'}}</p>
    {{/if}}
  </div>
</div>
